.comunication-list__link--footer, .comunication-list, .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 320px;
  width: 100%;
  max-width: 767px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.header, .main, .footer {
  min-width: 320px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, p, h1, h2, h3, button {
  margin: 0;
  padding: 0;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .header {
    padding: 21px 0;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 26px 0;
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: none;
}
@media (min-width: 768px) {
  .header-list {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
  }
}
@media (min-width: 768px) {
  .header-list__link {
    color: var(--title);
    font-weight: 500;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-list__link--current::after {
    display: block;
    background-color: #2196F3;
    content: "";
    height: 4px;
    border-radius: 2px;
    position: relative;
    top: 28px;
    left: 0;
  }
}
.header-list__item:hover .header-list__link {
  color: #2196F3;
}

.header-spacer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header-spacer {
    gap: 88px;
  }
}
@media (min-width: 1200px) {
  .header-spacer {
    gap: 92px;
  }
}

.header-spacer__logo {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #2196F3;
  letter-spacing: 0.78px;
}
@media (min-width: 1200px) {
  .header-spacer__logo {
    font-size: 26px;
  }
}
.header-spacer__logo--studio {
  color: #000000;
  margin-right: 90px;
}

.contacts-list {
  display: none;
}
@media (min-width: 768px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    margin-left: 96px;
    align-items: flex-start;
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .contacts-list {
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
}
.contacts-list__item {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
@media (min-width: 768px) {
  .contacts-list__link {
    display: flex;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    gap: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list__link:hover {
    color: #2196F3;
  }
}
@media (min-width: 768px) {
  .contacts-list__svg {
    fill: #757575;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list__svg--mail {
    width: 14px;
    height: 10px;
  }
  .contacts-list__svg--tell {
    width: 10px;
    height: 14px;
  }
}
@media (min-width: 1200px) {
  .contacts-list__svg {
    fill: #757575;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list__svg--mail {
    width: 14px;
    height: 10px;
  }
  .contacts-list__svg--tell {
    width: 10px;
    height: 14px;
  }
}
.contacts-list__link:hover .contacts-list__svg {
  fill: #2196F3;
}

.projects {
  padding: 60px 0;
}
@media (min-width: 1200px) {
  .projects {
    padding: 94px 0;
  }
}

.filters {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .filters {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .filters {
    justify-content: center;
    margin-bottom: 30px;
  }
}
.filters__btn {
  border: none;
  border-radius: 4px;
  color: #2F303A;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  padding: 6px 22px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__btn:hover {
  color: #fff;
  background: #2196F3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
.cards-list__item {
  flex-basis: 100%;
  padding-bottom: 20px;
  border: 1px solid #EEE;
}
.cards-list__item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
@media (min-width: 768px) {
  .cards-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1200px) {
  .cards-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.cards-list__name {
  background-color: #fff;
  padding: 21px 0 0;
}
.cards-list__title {
  color: #2F303A;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin: 20px 0 4px;
  padding: 0 0 0 24px;
}
.cards-list__description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  padding: 10px 0 0 24px;
}
.cards-list__thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 294px;
}
.cards-list__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2196F3;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 60px 24px;
}

.overlay__text {
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.cards-list__item:hover .overlay {
  transform: translateY(0);
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
  gap: 60px;
}
@media (min-width: 1200px) {
  .footer .container {
    justify-content: space-between;
    gap: 0;
  }
}

.footer-content-item {
  display: flex;
  gap: 93px;
}

.footer-contacts__logo {
  display: flex;
  justify-content: center;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #2196F3;
  letter-spacing: 0.78px;
}
@media (min-width: 1200px) {
  .footer-contacts__logo {
    justify-content: start;
  }
}

.footer-contacts__logo--studio {
  color: #fff;
}

.address {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 9px;
}
@media (min-width: 1200px) {
  .address {
    align-items: flex-start;
    gap: 9px;
  }
}
.address__contacts {
  display: flex;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  text-align: left;
  line-height: 24px;
  text-transform: none;
  text-decoration: none;
  font-style: normal;
  flex-direction: column;
}
.address__city {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-top: 20px;
}

.footer-join {
  display: flex;
  margin-top: 8px;
  flex-direction: column;
  align-items: center;
}
.footer-join__title {
  display: flex;
  justify-content: center;
  margin-right: 50px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  color: #fff;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer-join__title {
    text-align: left;
  }
}

.comunication-list {
  gap: 10px;
}
.comunication-list__item {
  width: 44px;
  height: 44px;
}

.comunication-list__link--footer {
  width: 44px;
  height: 44px;
  border: 2px solid none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.062745098);
  fill: #fff;
}

.comunication-list__link--footer:hover {
  background-color: #2196F3;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe {
  min-width: 290px;
  width: 100%;
  max-width: 450px;
  margin-top: 8px;
}
@media (min-width: 1200px) {
  .footer-subscribe {
    max-width: 580px;
  }
}
.footer-subscribe__title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .footer-subscribe__title {
    text-align: left;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (min-width: 1200px) {
  .footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.footer-form__input {
  color: #fff;
  background-color: transparent;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  padding: 0 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-right: 10px;
}
@media (min-width: 1199px) {
  .footer-form__input {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .footer-form__input {
    max-width: 358px;
  }
}
.footer-form__btn {
  fill: #fff;
  color: #fff;
  background-color: #2196F3;
  width: 200px;
  height: 50px;
  display: block;
  border: none;
  border-radius: 4px;
  font-family: getFont("Roboto");
  background-color: #2196F3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  line-height: 187%;
  text-transform: none;
  text-decoration: none;
  font-style: normal;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}/*# sourceMappingURL=portfolio.css.map */