.footer-subscribe{
    margin-top: 8px;
    &__title{
        color: getColor('web-studio-white');
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 20px;
    }
}

.footer-form{
    display: flex;
    align-items: center;
    &__input{
        color: getColor('web-studio-white');
        background-color: transparent;
        width: 358px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.03em;
        padding: 0 16px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        margin-right: 10px;
    }
    &__btn{
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        fill: getColor('web-studio-white');
        color: getColor('web-studio-white');
        background-color: getColor('web-studio-blue');
        width: 200px;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 187%;
        letter-spacing: 0.06em;
        text-align: center;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}