.footer{ 
    padding: 60px 0;
    background-color: var(--web-studio-black); 
} 
.footer-content-item{
    display: flex;
    gap: 93px;
}
.footer-contacts__logo{
        font-size: 26px; 
    font-family: "Raleway", sans-serif; 
    font-weight: 700; 
    color: var(--web-studio-blue); 
    letter-spacing: 0.78px; 
    }
.footer-contacts__logo--studio{
    color: var(--web-studio-white);
}
.address__city{ 
    color: var(--web-studio-white); 
    font-size: 14px; 
font-weight: 400; 
line-height: 24px; 
letter-spacing: 0.42px; 
margin-top: 20px;
} 
.address{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.address__contacts{ 
    display: flex;
    color: var(--text); 
    font-size: 14px; 
font-weight: 400; 
line-height: 24px; 
letter-spacing: 0.42px; 
flex-direction: column;
}