.footer-subscribe{
    min-width: 290px;
    width: 100%;
    max-width: 450px;
    margin-top: 8px;
    @media (min-width: 1200px) {
        max-width: 580px;
    }
    &__title{
        color: getColor('web-studio-white');
        @include text(16px, 500, 1.5, 0.02em, $t-align: center, $transf: uppercase);
        margin-bottom: 20px;
        @media (min-width: 1200px) {
            text-align: left;
        }
    }
}

.footer-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @media (min-width: 1200px) {
        @include flex(flex-end);
        gap: 12px;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    &__input{
        color: getColor('web-studio-white');
        background-color: transparent;
        width: 358px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.03em;
        padding: 0 16px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        margin-right: 10px;
        @media (min-width: 1199px) {
            margin-bottom: 20px;
        }
        @media (min-width: 1200px) {
            max-width: 358px;
        }
    }
    &__btn{
        fill: getColor('web-studio-white');
        color: getColor('web-studio-white');
        background-color: getColor('web-studio-blue');
        @include btn(200px, 50px);
        @include flex(center);
        @include text(16px, 700, 187%, 0.06em, center);
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}