
.header{
    padding-top: 10px;
    padding-bottom: 10px;
    @media (min-width: 768px ) {
        padding: 21px 0;
    }
    @media (min-width: 1200px ) {
        padding: 26px 0;
    }
}
// .header-input, .header-label{
//     display: none;
// }
// @media (max-width: 768px){
//     .nav-menu{
//         display: none;
//     }
//     .nav{
//         order: 1;
//     }
//     .header-label{
//         display: block;
//         width: 30px;
//         height: 30px;
//         position: relative;
//         cursor: pointer;
//     }
//     .header-span,
//     .header-span::before,
//     .header-span::after{
//         content: "";
//         display: block;
//         width: 25px;
//         height: 2px;
//         background-color: black;
//         position: absolute;
//         top: 5px;
//         left: 0;
//         transition: transform 250ms ease;
//     }
//     .header-span::before{
//         top: 10px;
//     }
//     .header-span::after{
//         top: 20px;
//     }
//     .header-input:checked ~ .nav-menu{
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
//     }
//     .nav-menu{
//         position: absolute;
//         top: 100px;
//         right: 0;
//         width: 30%;
//         padding: 20px;
//         background-color: gold;
//     }
//     .header-input:checked ~ .header-label .header-span{
//         transform: rotate(-45deg);
//     }
//     .header-input:checked ~ .header-label .header-span::before{
//         top: 0;
//         transform: rotate(0);
//     }
//     .header-input:checked ~ .header-label .header-span::after{
//         top: 0;
//         transform: rotate(90deg);
//     }
// }

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-list{
    display: none;
    @media (min-width: 768px) {
        display: flex;
        justify-content: flex-end;
        gap: 50px; 
    }
    &__link{ 
        @media (min-width: 768px) {
        color: var(--title); 
        font-weight: 500; 
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
        &--current::after{
            display: block;
            background-color: getColor('web-studio-blue');
            content: "";
            height: 4px;
            border-radius: 2px;
            position: relative;
            top: 28px;
            left: 0;
        }
    } 
}
    &__item:hover &__link{ 
        color: getColor('web-studio-blue');
    } 
}
.nav{
    display: flex;
    align-items: center;
}
.header-spacer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 768px) {
        gap: 88px;
    }
    @media (min-width: 1200px) {
        gap: 92px;
    }
}
.header-spacer__logo{ 
    font-size: 26px; 
font-family: getFonts('Raleway'); 
font-weight: 700; 
color: getColor('web-studio-blue');
letter-spacing: 0.78px; 
margin-right: 90px;
@media (min-width: 1200px) {
    font-size: 26px;
}
&--studio{
    color: getColor('black');
}
} 


.contacts-list{
    display: none;
    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-left: 96px;
        align-items: flex-start;
        gap: 10px;
    }
    @media (min-width: 1200px) {
        flex-direction: row;
        gap: 30px;
        align-items: center;
    }
    &__item{
        color: getColor('text');
        font-family: getFonts('Roboto');
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
    }
    &__link{ 
        @media (min-width: 768px) {
        display: flex;
        color: getColor('text');
        font-size: 14px; 
    font-weight: 500; 
    align-items: center;
    gap: 10px;
    transition-property:  color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    &:hover{
        color: getColor('web-studio-blue');
    }
}
    } 
    &__svg{
        @media (min-width: 768px) {
            fill: getColor('text');
            transition-property: fill;
            transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
        &--mail{
            width: 14px;
            height: 10px;
        }
        &--tell{
            width: 10px;
            height: 14px;
        }
        }
        @media (min-width: 1200px) {
            fill: getColor('text');
            transition-property: fill;
            transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
        &--mail{
            width: 14px;
            height: 10px;
        }
        &--tell{
            width: 10px;
            height: 14px;
        }
        }
    }
    &__link:hover &__svg{
        fill: getColor('web-studio-blue');
    }
}

