:root { 
    --web-studio-black:#2F303A; 
    --web-studio-blue:#2196F3;  
    --web-studio-white:#fff; 
    --title:#212121; 
    --text:#757575; 
    --footer:rgba(255, 255, 255, 0.60); 
    --black:#000000;
    --team-bg:#F5F4FA;
} 